* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, p, a, ol {font-family: 'cairo';}
h1 {font-size: 3.5vw; font-weight: 700; color: white;}
h2 {font-size: 2.25vw; font-weight: 600; color: white;}
h3 {font-size: 1.75vw; font-weight: 600; color: white;}
p, a, ol {font-size: 1.25vw; font-weight: 500; color: white; text-align: justify;}

.carousel-caption h5 {
    font-size: 1vw;
    font-weight: 500;
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}
.accordion-button:not(.collapsed) {
    background-color: white !important;
    color: black !important;
    border-bottom: 0 !important; /* Hilangkan border tambahan saat aktif */
    transition: 0.1s !important;
}
.accordion-button {
    border-bottom: 1px solid #ddd !important; /* Atur border sesuai kebutuhan */
    transition: 0.1s !important;
}

/* ========== SECTION GREETINGS ========== */
.section-greetings-container {
/* Suggested code may be subject to a license. Learn more: ~LicenseLog:2644758933. */
    background-image: url("/media/graphics/background-fix.png");
    background-size: cover;
    padding: 5vw;
    display: grid;
    grid-template-columns: 40vw auto;
    gap: 2.5vw;
}
.section-greetings-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 60, 60, 0.1);
}
.section-greetings {
    /* background-color: aliceblue; */
    height: 40vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
}
.section-greetings-details {
    display: flex;
    gap: 1vw;
    height: max-content;
    align-items: center;
}
.section-greetings-details svg {
    height: 3vw;
    color: white;
}
.section-greetings-image-container {
    /* background-color: aliceblue; */
    display: grid;
    grid-template-areas: 
        "image1 image3"
        "image1 image4"
        "image2 image4"
    ;
    gap: 1vw;
}
.section-greetings-image {border: 0.5px solid rgb(60, 60, 60);}
.section-greetings-image:nth-child(1) {grid-area: image1; background-image: url("/media/program/SR24-2.png"); background-size: cover; background-position: center;}
.section-greetings-image:nth-child(2) {grid-area: image2; background-image: url("/media/program/SR24-1.png"); background-size: cover; background-position: center;}
.section-greetings-image:nth-child(3) {grid-area: image3; background-image: url("/media/program/SR24-3.jpg"); background-size: cover; background-position: center;}
.section-greetings-image:nth-child(4) {grid-area: image4; background-image: url("/media/program/SR24-6.jpg"); background-size: cover; background-position: center;}

/* ========== SECTION MANFAAT SEDEKAH========== */
.section-sedekah-container {
    background-color: rgba(31, 117, 0, 0.806);
    padding: 5vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

/* ========== SECTION BANK ========== */
.section-bank-container {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    width: 100%;
}
.card {
    flex: 1;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(60, 60, 60, 0.1);
    transition: 0.1s;
    justify-content: space-between;
}
.card:hover {
    transform: translateY(-0.5vw);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.card:nth-child(1) img {height: 10vw;}
.card:nth-child(2) img {height: 10vw;}
.card:nth-child(3) img {height: 10vw;}
.card:nth-child(4) img {height: 10vw;}
.card-info {
    display: flex;
    flex-direction: column;
}
.bank-name {
    text-align: center;
    font-weight: bold;
    font-size: 1.75vw;
    color: rgb(60,60,60);
}
.bank-account {
    color: rgb(60,60,60);
    text-align: center;
    font-size: 1.4vw;
    margin-top: -1.25vw;
}
.qris {
    font-size: 1.75vw;
    color: rgb(60, 60, 60);
}
.qris:hover {
    font-size: 1.75vw;
    color: skyblue;
}
.qris-image {width: 25vw;}
.modal-body {display: flex;justify-content: center;}

@media (max-width: 700px) {
    h1 {font-size: 9vw; font-weight: 700; color: white;}
    h2 {font-size: 5vw; font-weight: 600; color: white;}
    h3 {font-size: 4vw; font-weight: 600; color: white;}
    p, a {font-size: 2.75vw; font-weight: 500; color: white; text-align: justify;}
    
    .section-greetings-container {
        height: max-content;
        padding: 20vw 5vw;
        display: flex;
        flex-direction: column;
        gap: 5vw;
    }
    .section-greetings {
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 5vw;
        justify-content: center;
    }
    .section-greetings-details {
        display: flex;
        gap: 3vw;
        height: max-content;
        align-items: center;
    }
    .section-greetings-details svg {
        height: 6vw;
        color: white;
    }
    .section-greetings-image-container {
        height: 50vh;
        display: grid;
        grid-template-areas: 
            "image1 image3"
            "image1 image4"
            "image2 image4"
        ;
        gap: 1vw;
    }
    .section-greetings-image {border: 0.5px solid rgb(60, 60, 60);}
    .section-greetings-image:nth-child(1) {grid-area: image1; background-image: url("/media/program/SR24-2.png"); background-size: cover; background-position: center;}
    .section-greetings-image:nth-child(2) {grid-area: image2; background-image: url("/media/program/SR24-1.png"); background-size: cover; background-position: center;}
    .section-greetings-image:nth-child(3) {grid-area: image3; background-image: url("/media/program/SR24-3.jpg"); background-size: cover; background-position: center;}
    .section-greetings-image:nth-child(4) {grid-area: image4; background-image: url("/media/program/SR24-6.jpg"); background-size: cover; background-position: center;}    

    .section-sedekah-container {
        background-color: rgba(31, 117, 0, 0.806);
        padding: 10vw 5vw;
        display: flex;
        flex-direction: column;
        gap: 5vw;
    }

    .section-bank-container {
        padding: 10vw 5vw;
        display: flex;
        flex-direction: column;
        gap: 6vw;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        gap: 5vw;
        width: 100%;
    }
    .card {
        flex: 1;
        min-width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        padding: 1vw;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(60, 60, 60, 0.1);
        transition: 0.1s;
        justify-content: space-between;
    }
    .card:hover {
        transform: translateY(-0.5vw);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
    .card:nth-child(1) img {height: 30vw;}
    .card:nth-child(2) img {height: 30vw;}
    .card:nth-child(3) img {height: 30vw;}
    .card:nth-child(4) img {height: 30vw;}
    .card-info {
        display: flex;
        flex-direction: column;
    }
    .bank-name {
        text-align: center;
        font-weight: bold;
        font-size: 5vw;
        color: rgb(60,60,60);
    }
    .bank-account {
        color: rgb(60,60,60);
        text-align: center;
        font-size: 4vw;
        margin-top: -2vw;
    }
    .qris {
        font-size: 4vw;
        color: rgb(60, 60, 60);
    }
    .qris:hover {
        font-size: 1.75vw;
        color: skyblue;
    }
    .qris-image {width: 75vw;}
    .modal-body {display: flex;justify-content: center;}
}

/* Punya Gilang */
.carousel-item img {
    width: 100%;
    height: 350px; /* Adjust the height as needed */
    object-fit: cover;
}

@media (max-width: 1200px) {
    .carousel-item img {
        height: 250px; /* Adjust the height as needed */
    }
}

@media (max-width: 992px) {
    .carousel-item img {
        height: 225px; /* Adjust the height as needed */
    }
}

#DescriptionSR24 {
    order: 1
}

#CarouselSR24 {
    order: 2
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 200px; /* Adjust the height as needed */
    }

    #DescriptionSR24 {
        order: 2
    }
    
    #CarouselSR24 {
        order: 1
    }
}

@media (max-width: 576px) {
    .carousel-item img {
        height: 150px; /* Adjust the height as needed */
    }
}

.profile {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.profile img {
    transition: filter 0.3s ease;
}

.profile:hover img {
    filter: blur(1px);
}

.profile .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 30px;
    color: white;
    padding: 10px;
}

.profile:hover .overlay {
    opacity: 1;
}